<%= javascript_pack_tag 'covid' %> <!--Cargamos el componente de vue-->
<%= javascript_pack_tag 'navigation' %> <!--Cargamos el componente de vue-->
<%= javascript_pack_tag 'bodyKeyboard' %> <!--Cargamos el componente de vue-->

<div id="covid"></div>
<div id="navigation"></div>

